{% extends "@User/Page_admin.html.twig" %}
{% block body %}

    <div class="col-lg-20 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Liste Produit</h4>

                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                Adresse
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Livreur
                            </th>

                            <th>
                                Vehicule
                            </th>
                            <th> Commande id</th>
                            <th>Frais Total
                            </th>
                            <th> Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for p in liv %}

                            <tr>
                                <td>
                                    {{ p.adresse }}
                                </td>
                                <td>
                                    {{ p.date|date }}
                                </td>
                                <td>
                                    {{ p.getIdEmp.matricule }}
                                </td>
                                <td>
                                    {{ p.getIdVeh.matricule }}
                                </td>
                                <td>
                                    {{ p.getIdPa.id }}
                                </td>
                                <td>
                                    {% if p.adresse=='Ariana' %}
                                        {{ p.getIdPa.total + 25 + 5 }}
                                            {% elseif p.adresse=='Béja' %}
                                                {{ p.getIdPa.total + 25 + 91.35 * 0.3 }}
                                            {% elseif p.adresse=='Ben Arous' %}
                                                {{ p.getIdPa.total + 25 + 12.12 * 0.3 }}
                                            {% elseif p.adresse=='Bizerte' %}
                                                {{ p.getIdPa.total + 25 + 54.11 * 0.3 }}
                                            {% elseif p.adresse=='Gabès' %}
                                                {{ p.getIdPa.total + 25 + 331.43 * 0.3 }}
                                            {% elseif p.adresse=='Jendouba' %}
                                                {{ p.getIdPa.total + 25 + 132.23 * 0.3 }}
                                            {% elseif p.adresse=='Kairouan' %}
                                                {{ p.getIdPa.total + 25 + 131.76 * 0.3 }}
                                            {% elseif p.adresse=='Kasserine' %}
                                                {{ p.getIdPa.total + 25 + 224.37 * 0.3 }}
                                            {% elseif p.adresse=='Kébili' %}
                                                {{ p.getIdPa.total + 25 + 368.18 * 0.3 }}
                                            {% elseif p.adresse=='Kef' %}
                                                {{ p.getIdPa.total + 25 + 155.34 * 0.3 }}
                                            {% elseif p.adresse=='Mahdia' %}
                                                {{ p.getIdPa.total + 25 + 169.74 * 0.3 }}
                                            {% elseif p.adresse=='Manouba' %}
                                                {{ p.getIdPa.total + 25 + 42.56 * 0.3 }}
                                            {% elseif p.adresse=='Médenine' %}
                                                {{ p.getIdPa.total + 25 +783 * 0.3 }}
                                            {% elseif p.adresse=='Monastir' %}
                                                {{ p.getIdPa.total + 25 + 260.19 * 0.3 }}
                                            {% elseif p.adresse=='Nabeul' %}
                                                {{ p.getIdPa.total + 25 + 119.9 * 0.3 }}
                                            {% elseif p.adresse=='Sfax' %}
                                                {{ p.getIdPa.total + 25 + 480.83 * 0.3 }}
                                            {% elseif p.adresse=='Sidi Bouzid' %}
                                                {{ p.getIdPa.total + 25 + 434.86 * 0.3 }}
                                            {% elseif p.adresse=='Siliana' %}
                                                {{ p.getIdPa.total + 25 + 244.08 * 0.3 }}
                                            {% elseif p.adresse=='Sousse' %}
                                                {{ p.getIdPa.total + 25 + 240.24 * 0.3 }}
                                            {% elseif p.adresse=='Tataouine' %}
                                                {{ p.getIdPa.total + 25 + 877.17 * 0.3 }}
                                            {% elseif p.adresse=='Tozeur' %}
                                                {{ p.getIdPa.total + 25 + 756.5 * 0.3 }}
                                            {% elseif p.adresse=='Tunis' %}
                                                {{ p.getIdPa.total + 25 + 31.2 * 0.3 }}
                                            {% elseif p.adresse=='Zaghouan' %}
                                                {{ p.getIdPa.total + 25 + 110.66 * 0.3 }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('Modifier_Livraison',{'id':p.id}) }}">
                                        <button  class="btn-xs btn-success">Modifier</button>
                                    </a><br>
                                    <a href="{{ path('delete_Livraison',{'id':p.id}) }}">
                                        <button class="btn-xs btn-danger">Supprimer</button>
                                    </a><br><br>
                                </td>



                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}