{% extends "@User/Page_admin.html.twig" %}

{% block body %}

    {{ form_start(form) }}
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Produit</h4>
                <p class="card-description">
                </p>
                    <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                         {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Marque</label>
                       {{ form_widget(form.marque, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Prix</label>
                        {{ form_widget(form.prix, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <label>File upload</label>
                        {{ form_widget(form.file, { 'attr': {'class': 'form-control file-upload-info'} }) }}

                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCity1">Categorie</label>
                        {{ form_widget(form.id_Categorie, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Quantite</label>
                        {{ form_widget(form.quantite, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                <input type="submit" value="Envoyer" class=" btn btn-primary mr-2"/>
                {{ form_end(form) }}

            </div>
        </div>
    </div>


{% endblock %}
