{% extends "@User/Page_admin.html.twig" %}
{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#amine tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <div class="col-lg-20 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Liste Des Promotions</h4>

                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                id
                            </th>
                            <th>
                                Valeur
                            </th>
                            <th>
                                Produit
                            </th>
                            <th>
                                Date fin
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody id="amine">
                        {% for p in pro %}

                            <tr>
                                <td>
                                    {{ p.id }}
                                </td>
                                <td>
                                    {{ p.valeur }}
                                </td>

                                <td>
                                    {{ p.getIdProduit.getmarque}}
                                </td>
                                <td>
                                    {{ p.datef|date('d/M/Y') }}
                                </td>

                                <td><a class=" btn btn-primary mr-2" href="{{ path('Promotion_Delete',{'id':p.id}) }}">Supprimer</a>
                                    <a class=" btn btn-primary mr-2" href="{{ path('Promotion_Modifier',{'id':p.id}) }}">Modifier</a>
                                </td>



                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation text-center" >
                        {{ knp_pagination_render(pro) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}